{% extends "base.html.twig" %}

{% block body %}

	<header class="center">
		<input type="button" id="refresh" value="Rejouer" onclick="actualize()" hidden>
		<h1>Bataille</h1>
		<table class="child">
			<tr>
				<th>Nom</th>
				<th>PV</th>
				<th>Poison</th>
			</tr>

			<tr>
				<td>Goblin</td>
				<td>100</td>
				<td>no</td>
			</tr>
			<tr>
				<td>Witch</td>
				<td>50</td>
				<td>/</td>
			</tr>
			<tr>
				<td>Orc</td>
				<td>100</td>
				<td>no</td>
			</tr>

		</table>
		<div class="buttons_cont">
			<input type="button" id="fight" value="Fight" onclick="nextTurn()">
		</div>
	</header>

	<div class="container">
		<p id="summary"></p>
	</div>
{% endblock %}
